<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.financetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Finance Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinanceTracker">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AddExpenseActivity" android:exported="false" />
        <activity android:name=".ui.AddIncomeActivity" android:exported="false" />
        <activity android:name=".ui.BillsActivity" android:exported="false" />
        <activity android:name=".ui.BillSplitActivity" android:exported="false" />

        <receiver
            android:name=".widget.FinanceWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
            android:name=".widget.WidgetUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.financetracker.UPDATE_WIDGET" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
